/.idea
/ECommerce-Microservies/inventory-service/target
/ECommerce-Microservies/product-service/target
/ECommerce-Microservies/order-service/target
/ECommerce-Microservies/discovery-server/target
/ECommerce-Microservies/discovery-server/mvnw.cmd
/ECommerce-Microservies/discovery-server/.mvn
/ECommerce-Microservies/discovery-server/.gitignore
/ECommerce-Microservies/discovery-server/HELP.md
/ECommerce-Microservies/discovery-server/mvnw
/ECommerce-Microservies/.idea
/ECommerce-Microservies/api-gateway/mvnw.cmd
/ECommerce-Microservies/api-gateway/.mvn
/ECommerce-Microservies/api-gateway/target
/ECommerce-Microservies/api-gateway/.gitignore
/ECommerce-Microservies/api-gateway/HELP.md
/ECommerce-Microservies/api-gateway/mvnw
